h1 {

    margin: auto;
    width: 40%;
    padding: 40px;
    font-size: xxx-large;
    text-align: center;
}


.image-container {
    display: flex;
    justify-content: center;
}


.education li {
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
}

.jobs {
    border: solid black;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    list-style-type: none;

}


#primary\ school {
    background-color: blue;
    color: yellow;
}

h2 {
    margin: auto;
    width: 40%;
    padding: 40px;
    font-size: xx-large;
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: normal;

}


.header {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
}


#Welcome {
    color: #ea1538;
    text-align: left;
}